@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display');
*{
  font-family : 'Poppins' , sans-serif ;
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box ;
  scroll-behavior:smooth ; 
  scroll-padding-top: 2rem ;
}

:root{

   --main-color : #98a7fc ;
   --body-color : #6d00ea ;
   --container-color : #00009f ;
   --heading-color : #222321 ;
   --box-color: #0d0f26 ;
   --bg-color : #fff ;
}

body {
    color:var(--bg-color) ;
    background: var(--body-color) ;
  }

 
img{
   width : 100%;    
  }
section {
    padding : 3rem 0 2rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
.container{
    max-width: 960px;
    margin: auto;
    width: 100%;

}              
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}
.nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 8rem;
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
    }
.nav-link{
        font-size: 0.94rem;
        padding:4px 8px;
        border-radius: 0.2rem;
        color:var(--bg-color);
}
.nav-link:hover{
    color: var(--main-color);
    background: var(--container-color);
    transition: 0.3s all linear;
    }

.home{
        min-height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
}
.home-content{
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.home-img{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: #98a7fc;
    overflow: hidden;
    margin-bottom: 2rem ;
}
.home-img{
    width: 380px;
    height: 380px;
    object-fit: cover;
    object-position: center;
}

.home-text{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;

}
.home-text h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--main-color);
}

.home-text h3::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}
.home-text h3::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}
.home-text h2{
    font-size: 3.5rem;
    line-height: 4.8rem;
   
}

.home-text .color{
   color: var(--main-color);
   
}
.home-text p{
font-size: 0.938rem;
margin-bottom: 1.5rem;
}

.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    }
.social .bx{
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);}
    
.social .bx:hover{
    background: var(--main-color);
    transition: 0.3s all linear;
}

.heading{
font-size: 5rem;
text-transform: uppercase;
color: var(--heading-color);
text-align: center;
margin-bottom: 2rem;
background-color: blanchedalmond;

}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.about-data span{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #978476;
}

.about-data h2{
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;

}
.btn{
    font-size: 0.97rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0,5rem;
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

.btn .bx{
    font-size: 1.2rem;
}

.btn:hover{
    background: #00009f;
    transition: 0.3s all linear;
}


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  